<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fraud-test</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form action="check" method="post">
      <h1>Fraud Detection</h1>
      <div class="input-box">
        <input type="text" placeholder="Client ID" name="input_id" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember Me</label>
        <a href="#">Check ID's</a>
      </div>
      <button type="submit" class="btn">Result</button>
      <div class="register-link">
        {%for message in get_flashed_messages()%}
        <p>{{message}}</p>
        {%endfor%}
      </div>
    </form>
  </div>
</body>
</html>